USE [master]
GO
/****** Object:  Database [lol]    Script Date: 13/02/2017 18:39:47 ******/
CREATE DATABASE [lol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER12\MSSQL\DATA\lol.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'lol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER12\MSSQL\DATA\lol_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lol]
GO
/****** Object:  User [prueba]    Script Date: 13/02/2017 18:39:47 ******/
CREATE USER [prueba] FOR LOGIN [prueba] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [prueba]
GO
ALTER ROLE [db_datareader] ADD MEMBER [prueba]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [prueba]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 13/02/2017 18:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personajes](
	[idPersonaje] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[alias] [varchar](100) NULL,
	[vida] [float] NULL,
	[regeneracion] [float] NULL,
	[danno] [float] NULL,
	[armadura] [float] NULL,
	[velAtaque] [float] NULL,
	[resistencia] [float] NULL,
	[velMovimiento] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
